#about {
    padding-left: 15%;
    padding-right: 30%;
    padding-top: 15%;
}
.about-title {
    font-size: 46px;
    font-weight: bold;
    color: var(--secondary);
}

.about-bio {
    padding-top: 10px;
    font-size: 20px;
    color: var(--tercery);
}