#experience {
    padding-left: 15%;
    padding-right: 30%;
    padding-top: 15%;
}

.experiences-title {
    font-size: 46px;
    font-weight: bold;
    color: var(--secondary);
}

.experiences-subtitle {
    font-size: 20px;
    color: var(--tercery);
    padding-top: 10px;
    padding-bottom: 5px;
}

.experience-list{
    padding-top: 20px;
    padding-bottom: 30px;
}

@media screen and (max-width: 1000px) {
    .experience-list {
        display: none;
    }
  }

.job-title {
    color: var(--secondary);
    font-size: 20px;
    font-weight: 300%;
}

.title-colored {
    color: var(--primary);
}

.job-date {
    color: var(--tercery);
    padding-bottom: 5px;
}

.job-description {
    color: var(--tercery);
    padding-top: 5px;
}

@media screen and (max-width: 500px) {
    .experiences-title {
        font-size: 30px;
    }
}