#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 25%;
    padding-right: 15%;
}

.title {
    font-size: 80px;
    color: var(--secondary);
}

.name {
    font-size: 86px;
    color: var(--primary)
}

.bio {
    color: var(--tercery);
    font-size: 20px;
}

.social-icons {
    padding-top: 30px;
    width: 100px;
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
}

.social-icons a {
    text-decoration: none !important;
    color: var(--primary) !important;
}
  
.social-icons a:hover {
    color: var(--secondary) !important;
}

.Typist {
    font-size: 76px;
}

.Typist .Cursor--blinking {
    color: var(--primary);
    padding-left: 4px;
}
  
  