#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 25%;
    padding-right: 15%;
}

.title {
    font-size: 80px;
    font-weight: bold;
    color: var(--secondary);
}

.sub-title {
    font-size: 46px;
    font-weight: bold;
    color: var(--secondary);
    padding-top: 10px;
    padding-bottom: 20px;
}

.name {
    font-size: 86px;
    color: var(--primary)
}

.bio {
    color: var(--tercery);
    font-size: 20px;
    padding-top: 10px;
}

.social-icons {
    padding-top: 30px;
    width: 100px;
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
}

.social-icons a {
    text-decoration: none !important;
    color: var(--primary) !important;
}
  
.social-icons a:hover {
    color: var(--secondary) !important;
}

.Typist {
    font-size: 76px;
}

.Typist .Cursor--blinking {
    color: var(--primary);
    padding-left: 4px;
    
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 60px;
    }

    .name {
        font-size: 60px;
    }

    .sub-title {
        font-size: 30px;
    }

    .Typist {
        font-size: 70px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 30px;
    }

    .name {
        font-size: 30px;
    }

    .sub-title {
        font-size: 20px;
    }

    .bio {
        font-size: 14px;
    }

    .Typist {
        font-size: 46px;
    }
}
  
  