#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    
}

.topnav a {
    float: right;
    display: block;
    text-align: center;
    padding-top: 1%;
    padding-right: 20px;
    text-decoration: none;
    
}

@media screen and (max-width: 500px) {
 #navbar {
     display: none;
 }
}

